Eqstra.ServiceScheduling.UILogic/Service References/SSProxy/xppservice4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/ServiceSchedulingService/xppservice.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
  <xs:element name="MzkServiceSchedulingServiceGetTasksRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q1:ArrayOfMzkServiceSchdTasksContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetServiceDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_caseServiceRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetServiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q2:ArrayOfMzkServiceDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetServiceTypesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetServiceTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetLocationTypeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_serviceRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetLocationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q3:ArrayOfMzkLocationTypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetTasks_ModifiedRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetTasks_ModifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q4:ArrayOfMzkServiceSchdTasksContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceValidateUserRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q5:MzkValidateUserContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceInsertCustomerAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_custTableRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_caseServiceRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceInsertCustomerAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceUpdateStatusListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="_lstTasks" nillable="true" type="q6:ArrayOfMzkServiceSchdTasksContract" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceUpdateStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q7:ArrayOfMzkServiceSchdTasksContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceInsertDriverAddressRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_driverTableRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_caseServiceRecId" type="xs:long" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceInsertDriverAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceUpdateConfirmationDatesRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseServiceRecId" type="xs:long" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="contract" nillable="true" type="q8:MzkServiceDetailsContract" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceUpdateConfirmationDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceInsertServiceDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_caseServiceRecId" type="xs:long" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="contract" nillable="true" type="q9:MzkServiceDetailsContract" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceInsertServiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetTasksOptimizeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetTasksOptimizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q10:ArrayOfMzkServiceSchdTasksContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetCustomersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q11:ArrayOfMzkAccountContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetODOReadingDetailsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_caseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_company" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MzkServiceSchedulingServiceGetODOReadingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" minOccurs="0" name="response" nillable="true" type="q12:ArrayOfMzkServiceDetailsContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>