Eqstra.ServiceScheduling.UILogic/Service References/SSProxy/xppservice3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/ServiceSchedulingService/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/ServiceSchedulingService/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MzkServiceDetailsContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAdditionalWork" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmContactPersonName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmContactPersonPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEventDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLocationType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmODOReading" type="xs:decimal" />
          <xs:element minOccurs="0" name="parmODOReadingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmPreferredDateFirstOption" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmPreferredDateSecondOption" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmServiceType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSupplierName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkServiceDetailsContract" nillable="true" type="tns:MzkServiceDetailsContract" />
  <xs:complexType name="MzkServiceSchdTasksContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCaseCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseServiceRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmCustAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriverFirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriverLastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriverPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEEPActionStep" type="tns:EEPActionStep" />
          <xs:element minOccurs="0" name="parmMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmModel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRegistrationNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStatusDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleDescription" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkServiceSchdTasksContract" nillable="true" type="tns:MzkServiceSchdTasksContract" />
  <xs:simpleType name="EEPActionStep">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProcessNone" />
      <xs:enumeration value="ProcessCBL" />
      <xs:enumeration value="ProcessLicenseReg" />
      <xs:enumeration value="GenQuery" />
      <xs:enumeration value="ServiceSchedulling">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessEPStep1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">97</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessEPStep2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">98</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessEPStep3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="JobCardDetails">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WorkComplete">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MaintenceServiceSheduling">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SelectSupplier">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConfirmDriver">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTermQuoteStep1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTermQuoteStep2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CTermQuoteStep3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">102</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DupFuelCard">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">103</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DupFuelCardAddress">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">104</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Procurment">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">105</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Procurment_AccRej">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">106</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionDetail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionConfirmation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">107</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionDataCapture">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">108</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitInspectionAcceptance">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">109</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AwaitDamageConfirmation">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">110</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EEPActionStep" nillable="true" type="tns:EEPActionStep" />
  <xs:complexType name="MzkServiceTypeContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q3:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmEventCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEventDesc" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkServiceTypeContract" nillable="true" type="tns:MzkServiceTypeContract" />
  <xs:complexType name="MzkValidateUserContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q4:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCompany" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmUserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmUserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkValidateUserContract" nillable="true" type="tns:MzkValidateUserContract" />
  <xs:complexType name="ArrayOfMzkServiceSchdTasksContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkServiceSchdTasksContract" nillable="true" type="tns:MzkServiceSchdTasksContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkServiceSchdTasksContract" nillable="true" type="tns:ArrayOfMzkServiceSchdTasksContract" />
  <xs:complexType name="ArrayOfMzkServiceDetailsContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkServiceDetailsContract" nillable="true" type="tns:MzkServiceDetailsContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkServiceDetailsContract" nillable="true" type="tns:ArrayOfMzkServiceDetailsContract" />
  <xs:complexType name="ArrayOfMzkServiceTypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkServiceTypeContract" nillable="true" type="tns:MzkServiceTypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkServiceTypeContract" nillable="true" type="tns:ArrayOfMzkServiceTypeContract" />
</xs:schema>