Eqstra.VehicleInspection/Service References/VIService/xppservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MzkAccessoryContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAccessoryType" type="tns:MzkPassengerAccessories" />
          <xs:element minOccurs="0" name="parmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCommercialAccessoryType" type="tns:MzkCommercialAccessories" />
          <xs:element minOccurs="0" name="parmIsDamaged" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmPassengerAccessory" type="tns:MzkPassengerAccessories" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkAccessoryContract" nillable="true" type="tns:MzkAccessoryContract" />
  <xs:simpleType name="MzkPassengerAccessories">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Radio" />
      <xs:enumeration value="CDShuttle" />
      <xs:enumeration value="Navigation" />
      <xs:enumeration value="Aircon" />
      <xs:enumeration value="Alarm" />
      <xs:enumeration value="Key" />
      <xs:enumeration value="SpareKey" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkPassengerAccessories" nillable="true" type="tns:MzkPassengerAccessories" />
  <xs:simpleType name="MzkCommercialAccessories">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServiceBook" />
      <xs:enumeration value="Tools" />
      <xs:enumeration value="Jack" />
      <xs:enumeration value="Bullbar" />
      <xs:enumeration value="TrackingDevice" />
      <xs:enumeration value="EngineProtectionUnit" />
      <xs:enumeration value="DecallSwitching" />
      <xs:enumeration value="ReflectiveType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkCommercialAccessories" nillable="true" type="tns:MzkCommercialAccessories" />
  <xs:simpleType name="NoYes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Yes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NoYes" nillable="true" type="tns:NoYes" />
  <xs:complexType name="MzkBodyworkContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCommercialBodywork" type="tns:MzkCommercialBodywork" />
          <xs:element minOccurs="0" name="parmIsDamaged" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmPassengerBodywork" type="tns:MzkPassengerBodywork" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkBodyworkContract" nillable="true" type="tns:MzkBodyworkContract" />
  <xs:simpleType name="MzkCommercialBodywork">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Door" />
      <xs:enumeration value="Chassis" />
      <xs:enumeration value="Floor" />
      <xs:enumeration value="Headboard" />
      <xs:enumeration value="DropSidesPanelsLeft" />
      <xs:enumeration value="DropSidesPanelsRight" />
      <xs:enumeration value="DropSidesPanelsFront" />
      <xs:enumeration value="DropSidesPanelsRear" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkCommercialBodywork" nillable="true" type="tns:MzkCommercialBodywork" />
  <xs:simpleType name="MzkPassengerBodywork">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HailDamage" />
      <xs:enumeration value="RFDoor" />
      <xs:enumeration value="LFDoor" />
      <xs:enumeration value="RRDoor" />
      <xs:enumeration value="LRDoor" />
      <xs:enumeration value="Roof" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkPassengerBodywork" nillable="true" type="tns:MzkPassengerBodywork" />
  <xs:complexType name="MzkCustAddressContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q3:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCustAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustPhone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkCustAddressContract" nillable="true" type="tns:MzkCustAddressContract" />
  <xs:complexType name="MzkGlassContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q4:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmGlassType" type="tns:MzkGlassType" />
          <xs:element minOccurs="0" name="parmIsDamaged" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkGlassContract" nillable="true" type="tns:MzkGlassContract" />
  <xs:simpleType name="MzkGlassType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Windscreen" />
      <xs:enumeration value="RearGlass" />
      <xs:enumeration value="SideGlass" />
      <xs:enumeration value="HeadLights" />
      <xs:enumeration value="TailLights" />
      <xs:enumeration value="IndicatorLenses" />
      <xs:enumeration value="ExitRearViewMirror" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkGlassType" nillable="true" type="tns:MzkGlassType" />
  <xs:complexType name="MzkMechanicalConditionContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q5:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCommercialMechCondition" type="tns:MzkCommercialMechanicalCondition" />
          <xs:element minOccurs="0" name="parmEngineType" type="tns:MZKEngineTypeEnum" />
          <xs:element minOccurs="0" name="parmIsDamaged" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsRunning" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRemarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkMechanicalConditionContract" nillable="true" type="tns:MzkMechanicalConditionContract" />
  <xs:simpleType name="MzkCommercialMechanicalCondition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Engine" />
      <xs:enumeration value="FrontSuppression" />
      <xs:enumeration value="RearSuppression" />
      <xs:enumeration value="Steering" />
      <xs:enumeration value="Exhaust" />
      <xs:enumeration value="Battery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkCommercialMechanicalCondition" nillable="true" type="tns:MzkCommercialMechanicalCondition" />
  <xs:simpleType name="MZKEngineTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Petrol" />
      <xs:enumeration value="Diesel" />
      <xs:enumeration value="LPG" />
      <xs:enumeration value="MainsBattery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MZKEngineTypeEnum" nillable="true" type="tns:MZKEngineTypeEnum" />
  <xs:complexType name="MzkTasksContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q6:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCaseCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseServiceRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmCategoryType" type="tns:CaseCategoryType" />
          <xs:element minOccurs="0" name="parmCollectionRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmConfirmedDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmCustAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPartyNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmProcessStep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmProcessStepRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmServiceRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStatusDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmUserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkTasksContract" nillable="true" type="tns:MzkTasksContract" />
  <xs:simpleType name="CaseCategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="General" />
      <xs:enumeration value="Sales" />
      <xs:enumeration value="Purchase" />
      <xs:enumeration value="Service" />
      <xs:enumeration value="Project" />
      <xs:enumeration value="Production" />
      <xs:enumeration value="Collections" />
      <xs:enumeration value="Audit" />
      <xs:enumeration value="Web" />
      <xs:enumeration value="Risk" />
      <xs:enumeration value="Finance" />
      <xs:enumeration value="FleetManagement" />
      <xs:enumeration value="Maintenance" />
      <xs:enumeration value="GPSTrackingSolutions" />
      <xs:enumeration value="Legal" />
      <xs:enumeration value="Vendors" />
      <xs:enumeration value="Contract" />
      <xs:enumeration value="Procurement" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CaseCategoryType" nillable="true" type="tns:CaseCategoryType" />
  <xs:complexType name="MzkTrimInteriorContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q7:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCommercialTrimInterior" type="tns:MzkCommercialTrimInterior" />
          <xs:element minOccurs="0" name="parmIsDamaged" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmPassengerTrimInterior" type="tns:MzkPassengerInteriorTrim" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkTrimInteriorContract" nillable="true" type="tns:MzkTrimInteriorContract" />
  <xs:simpleType name="MzkCommercialTrimInterior">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LeftDoor" />
      <xs:enumeration value="RightDoor" />
      <xs:enumeration value="LFQuarterPanel" />
      <xs:enumeration value="RFQuarterPanel" />
      <xs:enumeration value="LRQuarterPanel" />
      <xs:enumeration value="RRQuarterPanel" />
      <xs:enumeration value="Frontview" />
      <xs:enumeration value="Bumper" />
      <xs:enumeration value="Grill" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkCommercialTrimInterior" nillable="true" type="tns:MzkCommercialTrimInterior" />
  <xs:simpleType name="MzkPassengerInteriorTrim">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="InternalTrim" />
      <xs:enumeration value="RFDoorTrim" />
      <xs:enumeration value="LFDoorTrim" />
      <xs:enumeration value="RRDoorTrim" />
      <xs:enumeration value="LRDoorTrim" />
      <xs:enumeration value="DriverSeat" />
      <xs:enumeration value="PassengerSeat" />
      <xs:enumeration value="RearSeat" />
      <xs:enumeration value="Dash" />
      <xs:enumeration value="Carpets" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkPassengerInteriorTrim" nillable="true" type="tns:MzkPassengerInteriorTrim" />
  <xs:complexType name="MzkTyreConditionContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q8:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCommercialTyreType" type="tns:MzkCommercialTyre" />
          <xs:element minOccurs="0" name="parmCondition" type="tns:MZKConditionEnum" />
          <xs:element minOccurs="0" name="parmMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPassengerTyreType" type="tns:MzkPassengerTyreCondition" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmdepth" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkTyreConditionContract" nillable="true" type="tns:MzkTyreConditionContract" />
  <xs:simpleType name="MzkCommercialTyre">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LF" />
      <xs:enumeration value="LRInner" />
      <xs:enumeration value="LROuter" />
      <xs:enumeration value="LInnerAxleIn" />
      <xs:enumeration value="LInnerAxleOut" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkCommercialTyre" nillable="true" type="tns:MzkCommercialTyre" />
  <xs:simpleType name="MZKConditionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Poor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fair">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Good">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MZKConditionEnum" nillable="true" type="tns:MZKConditionEnum" />
  <xs:simpleType name="MzkPassengerTyreCondition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RF" />
      <xs:enumeration value="LF" />
      <xs:enumeration value="RR" />
      <xs:enumeration value="LR" />
      <xs:enumeration value="Spare" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkPassengerTyreCondition" nillable="true" type="tns:MzkPassengerTyreCondition" />
  <xs:complexType name="MzkVehicleDetailsContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q9:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmChassisNumber" type="xs:int" />
          <xs:element minOccurs="0" name="parmColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEngineNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLisenceDiscCurrent" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmODOReading" type="xs:decimal" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRegNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSparseKeyShown" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmSparseKeyTested" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmlisenceDiscExpiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmyear" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkVehicleDetailsContract" nillable="true" type="tns:MzkVehicleDetailsContract" />
  <xs:complexType name="MZKVehicleInspectionTableContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q10:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCaseId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCompanyRepSignDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmCustomerRepSignDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmGeneralCondition" type="tns:MZKConditionEnum" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRecommendation" type="tns:MZKRecommendationEnum" />
          <xs:element minOccurs="0" name="parmTaskId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTravelEndDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmTravelStartDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmVehicleInspector" type="xs:long" />
          <xs:element minOccurs="0" name="parmVehicleType" type="tns:MzkVehicleType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MZKVehicleInspectionTableContract" nillable="true" type="tns:MZKVehicleInspectionTableContract" />
  <xs:simpleType name="MZKRecommendationEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sell">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotFeasible">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Retain">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MZKRecommendationEnum" nillable="true" type="tns:MZKRecommendationEnum" />
  <xs:simpleType name="MzkVehicleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Passenger" />
      <xs:enumeration value="Commercial" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkVehicleType" nillable="true" type="tns:MzkVehicleType" />
  <xs:complexType name="ArrayOfMzkAccessoryContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkAccessoryContract" nillable="true" type="tns:MzkAccessoryContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkAccessoryContract" nillable="true" type="tns:ArrayOfMzkAccessoryContract" />
  <xs:complexType name="ArrayOfMzkTasksContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkTasksContract" nillable="true" type="tns:MzkTasksContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkTasksContract" nillable="true" type="tns:ArrayOfMzkTasksContract" />
  <xs:complexType name="ArrayOfMzkGlassContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkGlassContract" nillable="true" type="tns:MzkGlassContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkGlassContract" nillable="true" type="tns:ArrayOfMzkGlassContract" />
  <xs:complexType name="ArrayOfMzkMechanicalConditionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkMechanicalConditionContract" nillable="true" type="tns:MzkMechanicalConditionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkMechanicalConditionContract" nillable="true" type="tns:ArrayOfMzkMechanicalConditionContract" />
  <xs:complexType name="ArrayOfMzkTrimInteriorContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkTrimInteriorContract" nillable="true" type="tns:MzkTrimInteriorContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkTrimInteriorContract" nillable="true" type="tns:ArrayOfMzkTrimInteriorContract" />
  <xs:complexType name="ArrayOfMzkTyreConditionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkTyreConditionContract" nillable="true" type="tns:MzkTyreConditionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkTyreConditionContract" nillable="true" type="tns:ArrayOfMzkTyreConditionContract" />
  <xs:complexType name="ArrayOfMzkBodyworkContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkBodyworkContract" nillable="true" type="tns:MzkBodyworkContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkBodyworkContract" nillable="true" type="tns:ArrayOfMzkBodyworkContract" />
  <xs:complexType name="ArrayOfMzkVehicleDetailsContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkVehicleDetailsContract" nillable="true" type="tns:MzkVehicleDetailsContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkVehicleDetailsContract" nillable="true" type="tns:ArrayOfMzkVehicleDetailsContract" />
  <xs:complexType name="ArrayOfMzkCustAddressContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkCustAddressContract" nillable="true" type="tns:MzkCustAddressContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkCustAddressContract" nillable="true" type="tns:ArrayOfMzkCustAddressContract" />
  <xs:complexType name="ArrayOfMZKVehicleInspectionTableContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MZKVehicleInspectionTableContract" nillable="true" type="tns:MZKVehicleInspectionTableContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMZKVehicleInspectionTableContract" nillable="true" type="tns:ArrayOfMZKVehicleInspectionTableContract" />
</xs:schema>