Eqstra.VehicleInspection.BackgroundTask/Service References/VIServiceProxy/RoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="serviceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_VehicleInspectionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://tempuri.org" location="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="serviceEndpoint" type="i0:IRequestReplyRouter">
    <wsp:PolicyReference URI="#serviceEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_VehicleInspectionService" type="i1:VehicleInspectionService">
    <wsp:PolicyReference URI="#BasicHttpBinding_VehicleInspectionService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="editGlass">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editGlass" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditGlassRequest">
        <soap:header message="i1:VehicleInspectionServiceEditGlassRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditGlassResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVehicleDetails">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createVehicleDetails" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateVehicleDetailsRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateVehicleDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateVehicleDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editVehicleDetails">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editVehicleDetails" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditVehicleDetailsRequest">
        <soap:header message="i1:VehicleInspectionServiceEditVehicleDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditVehicleDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editBodywork">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editBodywork" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditBodyworkRequest">
        <soap:header message="i1:VehicleInspectionServiceEditBodyworkRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditBodyworkResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readVehicleDetails">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/readVehicleDetails" style="document" />
      <wsdl:input name="VehicleInspectionServiceReadVehicleDetailsRequest">
        <soap:header message="i1:VehicleInspectionServiceReadVehicleDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceReadVehicleDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readGlass">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/readGlass" style="document" />
      <wsdl:input name="VehicleInspectionServiceReadGlassRequest">
        <soap:header message="i1:VehicleInspectionServiceReadGlassRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceReadGlassResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editAccessory">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editAccessory" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditAccessoryRequest">
        <soap:header message="i1:VehicleInspectionServiceEditAccessoryRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditAccessoryResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editVehicleInspection">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editVehicleInspection" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditVehicleInspectionRequest">
        <soap:header message="i1:VehicleInspectionServiceEditVehicleInspectionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditVehicleInspectionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createTrimInterior">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createTrimInterior" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateTrimInteriorRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateTrimInteriorRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateTrimInteriorResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editTyreCondition">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editTyreCondition" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditTyreConditionRequest">
        <soap:header message="i1:VehicleInspectionServiceEditTyreConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditTyreConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editMechCondition">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editMechCondition" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditMechConditionRequest">
        <soap:header message="i1:VehicleInspectionServiceEditMechConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditMechConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readTrimInterior">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/readTrimInterior" style="document" />
      <wsdl:input name="VehicleInspectionServiceReadTrimInteriorRequest">
        <soap:header message="i1:VehicleInspectionServiceReadTrimInteriorRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceReadTrimInteriorResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVehicleInspectionTable">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createVehicleInspectionTable" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateVehicleInspectionTableRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateVehicleInspectionTableRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateVehicleInspectionTableResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustDetails">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/getCustDetails" style="document" />
      <wsdl:input name="VehicleInspectionServiceGetCustDetailsRequest">
        <soap:header message="i1:VehicleInspectionServiceGetCustDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceGetCustDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAccessories">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createAccessories" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateAccessoriesRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateAccessoriesRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateAccessoriesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readAccessories">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/readAccessories" style="document" />
      <wsdl:input name="VehicleInspectionServiceReadAccessoriesRequest">
        <soap:header message="i1:VehicleInspectionServiceReadAccessoriesRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceReadAccessoriesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="editTrimInterior">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/editTrimInterior" style="document" />
      <wsdl:input name="VehicleInspectionServiceEditTrimInteriorRequest">
        <soap:header message="i1:VehicleInspectionServiceEditTrimInteriorRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceEditTrimInteriorResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readMechCondition">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/readMechCondition" style="document" />
      <wsdl:input name="VehicleInspectionServiceReadMechConditionRequest">
        <soap:header message="i1:VehicleInspectionServiceReadMechConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceReadMechConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readBodywork">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/readBodywork" style="document" />
      <wsdl:input name="VehicleInspectionServiceReadBodyworkRequest">
        <soap:header message="i1:VehicleInspectionServiceReadBodyworkRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceReadBodyworkResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="readTyreCondition">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/readTyreCondition" style="document" />
      <wsdl:input name="VehicleInspectionServiceReadTyreConditionRequest">
        <soap:header message="i1:VehicleInspectionServiceReadTyreConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceReadTyreConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createBodywork">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createBodywork" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateBodyworkRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateBodyworkRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateBodyworkResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createMechCondition">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createMechCondition" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateMechConditionRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateMechConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateMechConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createGlass">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createGlass" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateGlassRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateGlassRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateGlassResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createTyreCondition">
      <soap:operation soapAction="http://tempuri.org/VehicleInspectionService/createTyreCondition" style="document" />
      <wsdl:input name="VehicleInspectionServiceCreateTyreConditionRequest">
        <soap:header message="i1:VehicleInspectionServiceCreateTyreConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VehicleInspectionServiceCreateTyreConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="serviceEndpoint" binding="tns:serviceEndpoint">
      <soap:address location="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_VehicleInspectionService" binding="tns:BasicHttpBinding_VehicleInspectionService">
      <soap:address location="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>