Eqstra.VehicleInspection.BackgroundTask/Service References/VIServiceProxy/xppservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd3" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://hyd-dax-p01.contoso.com/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="VehicleInspectionServiceEditGlassRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditGlassRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditGlassRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditGlassResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditGlassResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editGlass_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateVehicleDetailsRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateVehicleDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateVehicleDetailsRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateVehicleDetailsResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createVehicleDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditVehicleDetailsRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditVehicleDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditVehicleDetailsRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditVehicleDetailsResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editVehicleDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditBodyworkRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditBodyworkRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditBodyworkRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditBodyworkResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditBodyworkResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editBodywork_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadVehicleDetailsRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadVehicleDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadVehicleDetailsRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadVehicleDetailsResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_readVehicleDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadGlassRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadGlassRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadGlassRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadGlassResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadGlassResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_readGlass_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditAccessoryRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditAccessoryRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditAccessoryRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditAccessoryResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditAccessoryResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editAccessory_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditVehicleInspectionRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditVehicleInspectionRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditVehicleInspectionRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditVehicleInspectionResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditVehicleInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editVehicleInspection_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateTrimInteriorRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateTrimInteriorRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateTrimInteriorRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateTrimInteriorResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateTrimInteriorResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createTrimInterior_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditTyreConditionRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditTyreConditionRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditTyreConditionRequest_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditTyreConditionResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditTyreConditionResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editTyreCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q20:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditMechConditionRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditMechConditionRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditMechConditionRequest_Headers">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q21:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditMechConditionResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditMechConditionResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editMechCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q22:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadTrimInteriorRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadTrimInteriorRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadTrimInteriorRequest_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q23:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadTrimInteriorResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadTrimInteriorResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_readTrimInterior_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q24:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateVehicleInspectionTableRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateVehicleInspectionTableRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateVehicleInspectionTableRequest_Headers">
    <wsdl:part xmlns:q25="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q25:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateVehicleInspectionTableResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateVehicleInspectionTableResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createVehicleInspectionTable_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q26:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceGetCustDetailsRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceGetCustDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceGetCustDetailsRequest_Headers">
    <wsdl:part xmlns:q27="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q27:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceGetCustDetailsResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceGetCustDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_getCustDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q28:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateAccessoriesRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateAccessoriesRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateAccessoriesRequest_Headers">
    <wsdl:part xmlns:q29="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q29:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateAccessoriesResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateAccessoriesResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createAccessories_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q30:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadAccessoriesRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadAccessoriesRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadAccessoriesRequest_Headers">
    <wsdl:part xmlns:q31="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q31:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadAccessoriesResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadAccessoriesResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_readAccessories_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q32:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditTrimInteriorRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditTrimInteriorRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditTrimInteriorRequest_Headers">
    <wsdl:part xmlns:q33="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q33:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceEditTrimInteriorResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceEditTrimInteriorResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_editTrimInterior_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q34:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadMechConditionRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadMechConditionRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadMechConditionRequest_Headers">
    <wsdl:part xmlns:q35="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q35:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadMechConditionResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadMechConditionResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_readMechCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q36:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadBodyworkRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadBodyworkRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadBodyworkRequest_Headers">
    <wsdl:part xmlns:q37="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q37:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadBodyworkResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadBodyworkResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_readBodywork_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q38:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadTyreConditionRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadTyreConditionRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadTyreConditionRequest_Headers">
    <wsdl:part xmlns:q39="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q39:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceReadTyreConditionResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceReadTyreConditionResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_readTyreCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q40:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateBodyworkRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateBodyworkRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateBodyworkRequest_Headers">
    <wsdl:part xmlns:q41="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q41:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateBodyworkResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateBodyworkResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createBodywork_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q42:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateMechConditionRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateMechConditionRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateMechConditionRequest_Headers">
    <wsdl:part xmlns:q43="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q43:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateMechConditionResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateMechConditionResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createMechCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q44="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q44:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateGlassRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateGlassRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateGlassRequest_Headers">
    <wsdl:part xmlns:q45="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q45:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateGlassResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateGlassResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createGlass_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q46="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q46:AifFault" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateTyreConditionRequest">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateTyreConditionRequest" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateTyreConditionRequest_Headers">
    <wsdl:part xmlns:q47="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q47:CallContext" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionServiceCreateTyreConditionResponse">
    <wsdl:part name="parameters" element="tns:VehicleInspectionServiceCreateTyreConditionResponse" />
  </wsdl:message>
  <wsdl:message name="VehicleInspectionService_createTyreCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q48:AifFault" />
  </wsdl:message>
  <wsdl:portType name="VehicleInspectionService">
    <wsdl:operation name="editGlass">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editGlass" name="VehicleInspectionServiceEditGlassRequest" message="tns:VehicleInspectionServiceEditGlassRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editGlassResponse" name="VehicleInspectionServiceEditGlassResponse" message="tns:VehicleInspectionServiceEditGlassResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editGlassAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editGlass_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createVehicleDetails" name="VehicleInspectionServiceCreateVehicleDetailsRequest" message="tns:VehicleInspectionServiceCreateVehicleDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createVehicleDetailsResponse" name="VehicleInspectionServiceCreateVehicleDetailsResponse" message="tns:VehicleInspectionServiceCreateVehicleDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createVehicleDetailsAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createVehicleDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editVehicleDetails" name="VehicleInspectionServiceEditVehicleDetailsRequest" message="tns:VehicleInspectionServiceEditVehicleDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editVehicleDetailsResponse" name="VehicleInspectionServiceEditVehicleDetailsResponse" message="tns:VehicleInspectionServiceEditVehicleDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editVehicleDetailsAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editVehicleDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editBodywork">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editBodywork" name="VehicleInspectionServiceEditBodyworkRequest" message="tns:VehicleInspectionServiceEditBodyworkRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editBodyworkResponse" name="VehicleInspectionServiceEditBodyworkResponse" message="tns:VehicleInspectionServiceEditBodyworkResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editBodyworkAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editBodywork_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/readVehicleDetails" name="VehicleInspectionServiceReadVehicleDetailsRequest" message="tns:VehicleInspectionServiceReadVehicleDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/readVehicleDetailsResponse" name="VehicleInspectionServiceReadVehicleDetailsResponse" message="tns:VehicleInspectionServiceReadVehicleDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/readVehicleDetailsAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_readVehicleDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readGlass">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/readGlass" name="VehicleInspectionServiceReadGlassRequest" message="tns:VehicleInspectionServiceReadGlassRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/readGlassResponse" name="VehicleInspectionServiceReadGlassResponse" message="tns:VehicleInspectionServiceReadGlassResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/readGlassAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_readGlass_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editAccessory">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editAccessory" name="VehicleInspectionServiceEditAccessoryRequest" message="tns:VehicleInspectionServiceEditAccessoryRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editAccessoryResponse" name="VehicleInspectionServiceEditAccessoryResponse" message="tns:VehicleInspectionServiceEditAccessoryResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editAccessoryAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editAccessory_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editVehicleInspection">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editVehicleInspection" name="VehicleInspectionServiceEditVehicleInspectionRequest" message="tns:VehicleInspectionServiceEditVehicleInspectionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editVehicleInspectionResponse" name="VehicleInspectionServiceEditVehicleInspectionResponse" message="tns:VehicleInspectionServiceEditVehicleInspectionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editVehicleInspectionAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editVehicleInspection_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTrimInterior">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createTrimInterior" name="VehicleInspectionServiceCreateTrimInteriorRequest" message="tns:VehicleInspectionServiceCreateTrimInteriorRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createTrimInteriorResponse" name="VehicleInspectionServiceCreateTrimInteriorResponse" message="tns:VehicleInspectionServiceCreateTrimInteriorResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createTrimInteriorAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createTrimInterior_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editTyreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editTyreCondition" name="VehicleInspectionServiceEditTyreConditionRequest" message="tns:VehicleInspectionServiceEditTyreConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editTyreConditionResponse" name="VehicleInspectionServiceEditTyreConditionResponse" message="tns:VehicleInspectionServiceEditTyreConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editTyreConditionAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editTyreCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editMechCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editMechCondition" name="VehicleInspectionServiceEditMechConditionRequest" message="tns:VehicleInspectionServiceEditMechConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editMechConditionResponse" name="VehicleInspectionServiceEditMechConditionResponse" message="tns:VehicleInspectionServiceEditMechConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editMechConditionAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editMechCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readTrimInterior">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/readTrimInterior" name="VehicleInspectionServiceReadTrimInteriorRequest" message="tns:VehicleInspectionServiceReadTrimInteriorRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/readTrimInteriorResponse" name="VehicleInspectionServiceReadTrimInteriorResponse" message="tns:VehicleInspectionServiceReadTrimInteriorResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/readTrimInteriorAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_readTrimInterior_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVehicleInspectionTable">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createVehicleInspectionTable" name="VehicleInspectionServiceCreateVehicleInspectionTableRequest" message="tns:VehicleInspectionServiceCreateVehicleInspectionTableRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createVehicleInspectionTableResponse" name="VehicleInspectionServiceCreateVehicleInspectionTableResponse" message="tns:VehicleInspectionServiceCreateVehicleInspectionTableResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createVehicleInspectionTableAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createVehicleInspectionTable_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/getCustDetails" name="VehicleInspectionServiceGetCustDetailsRequest" message="tns:VehicleInspectionServiceGetCustDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/getCustDetailsResponse" name="VehicleInspectionServiceGetCustDetailsResponse" message="tns:VehicleInspectionServiceGetCustDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/getCustDetailsAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_getCustDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createAccessories">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createAccessories" name="VehicleInspectionServiceCreateAccessoriesRequest" message="tns:VehicleInspectionServiceCreateAccessoriesRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createAccessoriesResponse" name="VehicleInspectionServiceCreateAccessoriesResponse" message="tns:VehicleInspectionServiceCreateAccessoriesResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createAccessoriesAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createAccessories_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readAccessories">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/readAccessories" name="VehicleInspectionServiceReadAccessoriesRequest" message="tns:VehicleInspectionServiceReadAccessoriesRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/readAccessoriesResponse" name="VehicleInspectionServiceReadAccessoriesResponse" message="tns:VehicleInspectionServiceReadAccessoriesResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/readAccessoriesAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_readAccessories_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editTrimInterior">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/editTrimInterior" name="VehicleInspectionServiceEditTrimInteriorRequest" message="tns:VehicleInspectionServiceEditTrimInteriorRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/editTrimInteriorResponse" name="VehicleInspectionServiceEditTrimInteriorResponse" message="tns:VehicleInspectionServiceEditTrimInteriorResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/editTrimInteriorAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_editTrimInterior_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readMechCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/readMechCondition" name="VehicleInspectionServiceReadMechConditionRequest" message="tns:VehicleInspectionServiceReadMechConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/readMechConditionResponse" name="VehicleInspectionServiceReadMechConditionResponse" message="tns:VehicleInspectionServiceReadMechConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/readMechConditionAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_readMechCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readBodywork">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/readBodywork" name="VehicleInspectionServiceReadBodyworkRequest" message="tns:VehicleInspectionServiceReadBodyworkRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/readBodyworkResponse" name="VehicleInspectionServiceReadBodyworkResponse" message="tns:VehicleInspectionServiceReadBodyworkResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/readBodyworkAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_readBodywork_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readTyreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/readTyreCondition" name="VehicleInspectionServiceReadTyreConditionRequest" message="tns:VehicleInspectionServiceReadTyreConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/readTyreConditionResponse" name="VehicleInspectionServiceReadTyreConditionResponse" message="tns:VehicleInspectionServiceReadTyreConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/readTyreConditionAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_readTyreCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBodywork">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createBodywork" name="VehicleInspectionServiceCreateBodyworkRequest" message="tns:VehicleInspectionServiceCreateBodyworkRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createBodyworkResponse" name="VehicleInspectionServiceCreateBodyworkResponse" message="tns:VehicleInspectionServiceCreateBodyworkResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createBodyworkAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createBodywork_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createMechCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createMechCondition" name="VehicleInspectionServiceCreateMechConditionRequest" message="tns:VehicleInspectionServiceCreateMechConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createMechConditionResponse" name="VehicleInspectionServiceCreateMechConditionResponse" message="tns:VehicleInspectionServiceCreateMechConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createMechConditionAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createMechCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createGlass">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createGlass" name="VehicleInspectionServiceCreateGlassRequest" message="tns:VehicleInspectionServiceCreateGlassRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createGlassResponse" name="VehicleInspectionServiceCreateGlassResponse" message="tns:VehicleInspectionServiceCreateGlassResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createGlassAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createGlass_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTyreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/VehicleInspectionService/createTyreCondition" name="VehicleInspectionServiceCreateTyreConditionRequest" message="tns:VehicleInspectionServiceCreateTyreConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/VehicleInspectionService/createTyreConditionResponse" name="VehicleInspectionServiceCreateTyreConditionResponse" message="tns:VehicleInspectionServiceCreateTyreConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/VehicleInspectionService/createTyreConditionAifFaultFault" name="AifFaultFault" message="tns:VehicleInspectionService_createTyreCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>