Eqstra.VehicleInspection.UILogic/Service References/VIService/RoutingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schemas.microsoft.com/netfx/2009/05/routing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:i1="http://tempuri.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoutingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="reqReplyEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BasicHttpBinding_MzkVehicleInspectionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.microsoft.com/netfx/2009/05/routing" location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?wsdl=wsdl0" />
  <wsdl:import namespace="http://tempuri.org" location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?wsdl=wsdl1" />
  <wsdl:types />
  <wsdl:binding name="reqReplyEndpoint" type="i0:IRequestReplyRouter">
    <wsp:PolicyReference URI="#reqReplyEndpoint_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_MzkVehicleInspectionService" type="i1:MzkVehicleInspectionService">
    <wsp:PolicyReference URI="#BasicHttpBinding_MzkVehicleInspectionService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createGlass">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createGlass" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreateGlassRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreateGlassRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreateGlassResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPassengerTrimInterior">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createPassengerTrimInterior" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreatePassengerTrimInteriorRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreatePassengerTrimInteriorRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreatePassengerTrimInteriorResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPassengerTyreCondition">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createPassengerTyreCondition" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreatePassengerTyreConditionRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreatePassengerTyreConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreatePassengerTyreConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVehicleDetails">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createVehicleDetails" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreateVehicleDetailsRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreateVehicleDetailsRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreateVehicleDetailsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVehicleCollection">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createVehicleCollection" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreateVehicleCollectionRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreateVehicleCollectionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreateVehicleCollectionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPassengerBodywork">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createPassengerBodywork" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreatePassengerBodyworkRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreatePassengerBodyworkRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreatePassengerBodyworkResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createVehicleInspectionTable">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createVehicleInspectionTable" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPassengerAccessories">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createPassengerAccessories" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreatePassengerAccessoriesRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreatePassengerAccessoriesRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreatePassengerAccessoriesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createMechCondition">
      <soap:operation soapAction="http://tempuri.org/MzkVehicleInspectionService/createMechCondition" style="document" />
      <wsdl:input name="MzkVehicleInspectionServiceCreateMechConditionRequest">
        <soap:header message="i1:MzkVehicleInspectionServiceCreateMechConditionRequest_Headers" part="context" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="MzkVehicleInspectionServiceCreateMechConditionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AifFaultFault">
        <soap:fault use="literal" name="AifFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoutingService">
    <wsdl:port name="reqReplyEndpoint" binding="tns:reqReplyEndpoint">
      <soap:address location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_MzkVehicleInspectionService" binding="tns:BasicHttpBinding_MzkVehicleInspectionService">
      <soap:address location="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>