Eqstra.VehicleInspection.UILogic/Service References/VIService/xppservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd3" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleDetailsRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createVehicleDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditGlassRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditGlassRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditGlassRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditGlassResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditGlassResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editGlass_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditVehicleInspectionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditVehicleInspectionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditVehicleInspectionRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditVehicleInspectionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditVehicleInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editVehicleInspection_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceGetCustDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceGetCustDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceGetCustDetailsRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceGetCustDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceGetCustDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_getCustDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadBodyworkRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadBodyworkRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadBodyworkRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadBodyworkResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadBodyworkResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_readBodywork_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadGlassRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadGlassRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadGlassRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadGlassResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadGlassResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_readGlass_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadMechConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadMechConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadMechConditionRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadMechConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadMechConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_readMechCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadTrimInteriorRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadTrimInteriorRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadTrimInteriorRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadTrimInteriorResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadTrimInteriorResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_readTrimInterior_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceGetTasksRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceGetTasksRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceGetTasksRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceGetTasksResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceGetTasksResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_getTasks_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadVehicleDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadVehicleDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadVehicleDetailsRequest_Headers">
    <wsdl:part xmlns:q19="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q19:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadVehicleDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_readVehicleDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q20:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadTyreConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadTyreConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadTyreConditionRequest_Headers">
    <wsdl:part xmlns:q21="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q21:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadTyreConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadTyreConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_readTyreCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q22:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceUpdateStatusListRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceUpdateStatusListRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceUpdateStatusListRequest_Headers">
    <wsdl:part xmlns:q23="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q23:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceUpdateStatusListResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceUpdateStatusListResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_updateStatusList_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q24:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateAccessoriesRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateAccessoriesRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateAccessoriesRequest_Headers">
    <wsdl:part xmlns:q25="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q25:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateAccessoriesResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateAccessoriesResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createAccessories_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q26:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateTyreConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateTyreConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateTyreConditionRequest_Headers">
    <wsdl:part xmlns:q27="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q27:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateTyreConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateTyreConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createTyreCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q28:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateBodyworkRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateBodyworkRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateBodyworkRequest_Headers">
    <wsdl:part xmlns:q29="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q29:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateBodyworkResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateBodyworkResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createBodywork_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q30:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateGlassRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateGlassRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateGlassRequest_Headers">
    <wsdl:part xmlns:q31="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q31:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateGlassResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateGlassResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createGlass_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q32:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditTrimInteriorRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditTrimInteriorRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditTrimInteriorRequest_Headers">
    <wsdl:part xmlns:q33="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q33:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditTrimInteriorResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditTrimInteriorResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editTrimInterior_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q34:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditVehicleDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditVehicleDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditVehicleDetailsRequest_Headers">
    <wsdl:part xmlns:q35="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q35:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditVehicleDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editVehicleDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q36:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest_Headers">
    <wsdl:part xmlns:q37="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q37:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createVehicleInspectionTable_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q38:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditAccessoryRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditAccessoryRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditAccessoryRequest_Headers">
    <wsdl:part xmlns:q39="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q39:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditAccessoryResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditAccessoryResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editAccessory_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q40:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditTyreConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditTyreConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditTyreConditionRequest_Headers">
    <wsdl:part xmlns:q41="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q41:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditTyreConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditTyreConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editTyreCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q42:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditBodyworkRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditBodyworkRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditBodyworkRequest_Headers">
    <wsdl:part xmlns:q43="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q43:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditBodyworkResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditBodyworkResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editBodywork_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q44="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q44:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateTrimInteriorRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateTrimInteriorRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateTrimInteriorRequest_Headers">
    <wsdl:part xmlns:q45="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q45:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateTrimInteriorResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateTrimInteriorResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createTrimInterior_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q46="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q46:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditMechConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditMechConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditMechConditionRequest_Headers">
    <wsdl:part xmlns:q47="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q47:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceEditMechConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceEditMechConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_editMechCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q48:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateMechConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateMechConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateMechConditionRequest_Headers">
    <wsdl:part xmlns:q49="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q49:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateMechConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateMechConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createMechCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q50="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q50:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadAccessoriesRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadAccessoriesRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadAccessoriesRequest_Headers">
    <wsdl:part xmlns:q51="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q51:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceReadAccessoriesResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceReadAccessoriesResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_readAccessories_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q52="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q52:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleCollectionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleCollectionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleCollectionRequest_Headers">
    <wsdl:part xmlns:q53="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q53:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleCollectionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createVehicleCollection_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q54="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q54:AifFault" />
  </wsdl:message>
  <wsdl:portType name="MzkVehicleInspectionService">
    <wsdl:operation name="createVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleDetails" name="MzkVehicleInspectionServiceCreateVehicleDetailsRequest" message="tns:MzkVehicleInspectionServiceCreateVehicleDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleDetailsResponse" name="MzkVehicleInspectionServiceCreateVehicleDetailsResponse" message="tns:MzkVehicleInspectionServiceCreateVehicleDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createVehicleDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editGlass">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editGlass" name="MzkVehicleInspectionServiceEditGlassRequest" message="tns:MzkVehicleInspectionServiceEditGlassRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editGlassResponse" name="MzkVehicleInspectionServiceEditGlassResponse" message="tns:MzkVehicleInspectionServiceEditGlassResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editGlassAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editGlass_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editVehicleInspection">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editVehicleInspection" name="MzkVehicleInspectionServiceEditVehicleInspectionRequest" message="tns:MzkVehicleInspectionServiceEditVehicleInspectionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editVehicleInspectionResponse" name="MzkVehicleInspectionServiceEditVehicleInspectionResponse" message="tns:MzkVehicleInspectionServiceEditVehicleInspectionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editVehicleInspectionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editVehicleInspection_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/getCustDetails" name="MzkVehicleInspectionServiceGetCustDetailsRequest" message="tns:MzkVehicleInspectionServiceGetCustDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/getCustDetailsResponse" name="MzkVehicleInspectionServiceGetCustDetailsResponse" message="tns:MzkVehicleInspectionServiceGetCustDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/getCustDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_getCustDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readBodywork">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readBodywork" name="MzkVehicleInspectionServiceReadBodyworkRequest" message="tns:MzkVehicleInspectionServiceReadBodyworkRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readBodyworkResponse" name="MzkVehicleInspectionServiceReadBodyworkResponse" message="tns:MzkVehicleInspectionServiceReadBodyworkResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readBodyworkAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_readBodywork_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readGlass">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readGlass" name="MzkVehicleInspectionServiceReadGlassRequest" message="tns:MzkVehicleInspectionServiceReadGlassRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readGlassResponse" name="MzkVehicleInspectionServiceReadGlassResponse" message="tns:MzkVehicleInspectionServiceReadGlassResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readGlassAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_readGlass_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readMechCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readMechCondition" name="MzkVehicleInspectionServiceReadMechConditionRequest" message="tns:MzkVehicleInspectionServiceReadMechConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readMechConditionResponse" name="MzkVehicleInspectionServiceReadMechConditionResponse" message="tns:MzkVehicleInspectionServiceReadMechConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readMechConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_readMechCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readTrimInterior">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readTrimInterior" name="MzkVehicleInspectionServiceReadTrimInteriorRequest" message="tns:MzkVehicleInspectionServiceReadTrimInteriorRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readTrimInteriorResponse" name="MzkVehicleInspectionServiceReadTrimInteriorResponse" message="tns:MzkVehicleInspectionServiceReadTrimInteriorResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readTrimInteriorAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_readTrimInterior_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/getTasks" name="MzkVehicleInspectionServiceGetTasksRequest" message="tns:MzkVehicleInspectionServiceGetTasksRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/getTasksResponse" name="MzkVehicleInspectionServiceGetTasksResponse" message="tns:MzkVehicleInspectionServiceGetTasksResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/getTasksAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_getTasks_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readVehicleDetails" name="MzkVehicleInspectionServiceReadVehicleDetailsRequest" message="tns:MzkVehicleInspectionServiceReadVehicleDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readVehicleDetailsResponse" name="MzkVehicleInspectionServiceReadVehicleDetailsResponse" message="tns:MzkVehicleInspectionServiceReadVehicleDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readVehicleDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_readVehicleDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readTyreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readTyreCondition" name="MzkVehicleInspectionServiceReadTyreConditionRequest" message="tns:MzkVehicleInspectionServiceReadTyreConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readTyreConditionResponse" name="MzkVehicleInspectionServiceReadTyreConditionResponse" message="tns:MzkVehicleInspectionServiceReadTyreConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readTyreConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_readTyreCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStatusList">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/updateStatusList" name="MzkVehicleInspectionServiceUpdateStatusListRequest" message="tns:MzkVehicleInspectionServiceUpdateStatusListRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/updateStatusListResponse" name="MzkVehicleInspectionServiceUpdateStatusListResponse" message="tns:MzkVehicleInspectionServiceUpdateStatusListResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/updateStatusListAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_updateStatusList_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createAccessories">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createAccessories" name="MzkVehicleInspectionServiceCreateAccessoriesRequest" message="tns:MzkVehicleInspectionServiceCreateAccessoriesRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createAccessoriesResponse" name="MzkVehicleInspectionServiceCreateAccessoriesResponse" message="tns:MzkVehicleInspectionServiceCreateAccessoriesResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createAccessoriesAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createAccessories_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTyreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createTyreCondition" name="MzkVehicleInspectionServiceCreateTyreConditionRequest" message="tns:MzkVehicleInspectionServiceCreateTyreConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createTyreConditionResponse" name="MzkVehicleInspectionServiceCreateTyreConditionResponse" message="tns:MzkVehicleInspectionServiceCreateTyreConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createTyreConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createTyreCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createBodywork">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createBodywork" name="MzkVehicleInspectionServiceCreateBodyworkRequest" message="tns:MzkVehicleInspectionServiceCreateBodyworkRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createBodyworkResponse" name="MzkVehicleInspectionServiceCreateBodyworkResponse" message="tns:MzkVehicleInspectionServiceCreateBodyworkResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createBodyworkAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createBodywork_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createGlass">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createGlass" name="MzkVehicleInspectionServiceCreateGlassRequest" message="tns:MzkVehicleInspectionServiceCreateGlassRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createGlassResponse" name="MzkVehicleInspectionServiceCreateGlassResponse" message="tns:MzkVehicleInspectionServiceCreateGlassResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createGlassAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createGlass_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editTrimInterior">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editTrimInterior" name="MzkVehicleInspectionServiceEditTrimInteriorRequest" message="tns:MzkVehicleInspectionServiceEditTrimInteriorRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editTrimInteriorResponse" name="MzkVehicleInspectionServiceEditTrimInteriorResponse" message="tns:MzkVehicleInspectionServiceEditTrimInteriorResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editTrimInteriorAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editTrimInterior_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editVehicleDetails" name="MzkVehicleInspectionServiceEditVehicleDetailsRequest" message="tns:MzkVehicleInspectionServiceEditVehicleDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editVehicleDetailsResponse" name="MzkVehicleInspectionServiceEditVehicleDetailsResponse" message="tns:MzkVehicleInspectionServiceEditVehicleDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editVehicleDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editVehicleDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVehicleInspectionTable">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleInspectionTable" name="MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest" message="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleInspectionTableResponse" name="MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse" message="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleInspectionTableAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createVehicleInspectionTable_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editAccessory">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editAccessory" name="MzkVehicleInspectionServiceEditAccessoryRequest" message="tns:MzkVehicleInspectionServiceEditAccessoryRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editAccessoryResponse" name="MzkVehicleInspectionServiceEditAccessoryResponse" message="tns:MzkVehicleInspectionServiceEditAccessoryResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editAccessoryAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editAccessory_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editTyreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editTyreCondition" name="MzkVehicleInspectionServiceEditTyreConditionRequest" message="tns:MzkVehicleInspectionServiceEditTyreConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editTyreConditionResponse" name="MzkVehicleInspectionServiceEditTyreConditionResponse" message="tns:MzkVehicleInspectionServiceEditTyreConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editTyreConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editTyreCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editBodywork">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editBodywork" name="MzkVehicleInspectionServiceEditBodyworkRequest" message="tns:MzkVehicleInspectionServiceEditBodyworkRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editBodyworkResponse" name="MzkVehicleInspectionServiceEditBodyworkResponse" message="tns:MzkVehicleInspectionServiceEditBodyworkResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editBodyworkAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editBodywork_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createTrimInterior">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createTrimInterior" name="MzkVehicleInspectionServiceCreateTrimInteriorRequest" message="tns:MzkVehicleInspectionServiceCreateTrimInteriorRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createTrimInteriorResponse" name="MzkVehicleInspectionServiceCreateTrimInteriorResponse" message="tns:MzkVehicleInspectionServiceCreateTrimInteriorResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createTrimInteriorAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createTrimInterior_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="editMechCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editMechCondition" name="MzkVehicleInspectionServiceEditMechConditionRequest" message="tns:MzkVehicleInspectionServiceEditMechConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editMechConditionResponse" name="MzkVehicleInspectionServiceEditMechConditionResponse" message="tns:MzkVehicleInspectionServiceEditMechConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/editMechConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_editMechCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createMechCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createMechCondition" name="MzkVehicleInspectionServiceCreateMechConditionRequest" message="tns:MzkVehicleInspectionServiceCreateMechConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createMechConditionResponse" name="MzkVehicleInspectionServiceCreateMechConditionResponse" message="tns:MzkVehicleInspectionServiceCreateMechConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createMechConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createMechCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="readAccessories">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readAccessories" name="MzkVehicleInspectionServiceReadAccessoriesRequest" message="tns:MzkVehicleInspectionServiceReadAccessoriesRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readAccessoriesResponse" name="MzkVehicleInspectionServiceReadAccessoriesResponse" message="tns:MzkVehicleInspectionServiceReadAccessoriesResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/readAccessoriesAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_readAccessories_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVehicleCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleCollection" name="MzkVehicleInspectionServiceCreateVehicleCollectionRequest" message="tns:MzkVehicleInspectionServiceCreateVehicleCollectionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleCollectionResponse" name="MzkVehicleInspectionServiceCreateVehicleCollectionResponse" message="tns:MzkVehicleInspectionServiceCreateVehicleCollectionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleCollectionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createVehicleCollection_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>