Eqstra.VehicleInspection.UILogic/Service References/VIService/xppservice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="MzkMechanicalConditionContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCommercialMechCondition" type="tns:MzkCommercialMechanicalCondition" />
          <xs:element minOccurs="0" name="parmEngineType" type="tns:MZKEngineTypeEnum" />
          <xs:element minOccurs="0" name="parmIsDamaged" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsRunning" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRemarks" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkMechanicalConditionContract" nillable="true" type="tns:MzkMechanicalConditionContract" />
  <xs:simpleType name="MzkCommercialMechanicalCondition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Engine" />
      <xs:enumeration value="FrontSuppression" />
      <xs:enumeration value="RearSuppression" />
      <xs:enumeration value="Steering" />
      <xs:enumeration value="Exhaust" />
      <xs:enumeration value="Battery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkCommercialMechanicalCondition" nillable="true" type="tns:MzkCommercialMechanicalCondition" />
  <xs:simpleType name="MZKEngineTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Petrol" />
      <xs:enumeration value="Diesel" />
      <xs:enumeration value="LPG" />
      <xs:enumeration value="MainsBattery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MZKEngineTypeEnum" nillable="true" type="tns:MZKEngineTypeEnum" />
  <xs:simpleType name="NoYes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="No" />
      <xs:enumeration value="Yes" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NoYes" nillable="true" type="tns:NoYes" />
  <xs:complexType name="MzkMobiPassengerAccessoriesContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q2:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmAirconComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmAlarmComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCDShuttleComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCanopyComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmHasAircon" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasAlarm" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasCDShuttle" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasCanopy" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasJack" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasKey" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasMaps" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasNavigation" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasOthers" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasRadio" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasServicesBook" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasSpareType" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasSparekey" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasTools" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmHasTrackingUnit" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedAircon" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedAlarm" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedCDShuttle" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedCanopy" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedJack" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedKey" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedMaps" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedNavigation" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRadio" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedServicesBook" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedSpareType" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedSparekey" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedTools" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedTrackingUnit" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmJackComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmKeyComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmMapsComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmNavigationComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmOtherComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRadioComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmServiceBooksComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSpareKeysComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSpareTypeComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmToolComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTrackLineComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkMobiPassengerAccessoriesContract" nillable="true" type="tns:MzkMobiPassengerAccessoriesContract" />
  <xs:complexType name="MzkMobiPassengerBodyworkContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q3:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmBonetComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmBootComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDoorHandlesComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmHailDamageComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmHubcapsComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmIsDamagedBonnet" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedBoot" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedDoorHandles" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedHailDamage" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedHubcaps" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLFBumper" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLFDoor" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLFWheelArch" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLRBumper" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLRDoor" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLRWheelArch" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLeftSide" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRFBumper" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRFDoor" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRFWheelArch" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRRBumper" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRRDoor" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRRWheelArch" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRightSide" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRoof" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedWipers" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmLFDoorComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLFWheelArchComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLRBumperComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLRDoorComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLRWheelArchComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRFBumperComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRFDoorComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRFWheelArchComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRRBumperComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRRDoorComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRRWheelArchComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRightSideComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRoofComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmWipersComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmlFBumperComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmleftSideComments" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkMobiPassengerBodyworkContract" nillable="true" type="tns:MzkMobiPassengerBodyworkContract" />
  <xs:complexType name="MzkMobiPassengerGlassContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q4:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmExitRearViewMirrorComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmHeadLightsComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmIndicatorLensesComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmIsDamagedExitRearViewMirror" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedHeadLights" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedIndicatorLenses" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRearGlass" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedSideGlass" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedTailLights" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedWindScreen" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmRearGlassComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmSideGlassComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmTailLightsComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmVehicleType" type="tns:MzkVehicleType" />
          <xs:element minOccurs="0" name="parmWimdScreenComments" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkMobiPassengerGlassContract" nillable="true" type="tns:MzkMobiPassengerGlassContract" />
  <xs:simpleType name="MzkVehicleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Passenger" />
      <xs:enumeration value="Commercial" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MzkVehicleType" nillable="true" type="tns:MzkVehicleType" />
  <xs:complexType name="MzkMobiPassengerTrimInteriorContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q5:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCarpetsComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDashComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmDriversSeatComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmInternalTrimComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmIsDamagedCarpets" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedDash" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedDriversSeat" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedInternalTrim" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLFDoorTrim" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedLRDoorTrim" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedPassengerSeat" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRFDoorTrim" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRRDoorTrim" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmIsDamagedRearSeat" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmLFDoorTrimComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLRDoorTrimComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmPassengerSeatComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRFDoorTrimComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRRDoorTrimComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRearSeatComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkMobiPassengerTrimInteriorContract" nillable="true" type="tns:MzkMobiPassengerTrimInteriorContract" />
  <xs:complexType name="MZKMobiPassengerTyreConditionContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q6:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmLFComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLFCondition" type="tns:MZKConditionEnum" />
          <xs:element minOccurs="0" name="parmLFDepth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLFMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLRComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLRCondition" type="tns:MZKConditionEnum" />
          <xs:element minOccurs="0" name="parmLRDepth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLRMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRFComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRFCondition" type="tns:MZKConditionEnum" />
          <xs:element minOccurs="0" name="parmRFDepth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRFMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRRComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRRCondition" type="tns:MZKConditionEnum" />
          <xs:element minOccurs="0" name="parmRRDepth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRRMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmSpareComments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSpareCondition" type="tns:MZKConditionEnum" />
          <xs:element minOccurs="0" name="parmSpareDepth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSpareMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MZKMobiPassengerTyreConditionContract" nillable="true" type="tns:MZKMobiPassengerTyreConditionContract" />
  <xs:simpleType name="MZKConditionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Poor">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fair">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Good">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MZKConditionEnum" nillable="true" type="tns:MZKConditionEnum" />
  <xs:complexType name="MzkTasksContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q7:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmCaseCategory" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCaseServiceRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmCategoryType" type="tns:CaseCategoryType" />
          <xs:element minOccurs="0" name="parmCollectionRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmConfirmedDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmCustAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmCustPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmProcessStep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmProcessStepRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmServiceRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmStatus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmStatusDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmUserId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmVehicleType" type="tns:MzkVehicleType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkTasksContract" nillable="true" type="tns:MzkTasksContract" />
  <xs:simpleType name="CaseCategoryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="General" />
      <xs:enumeration value="Sales" />
      <xs:enumeration value="Purchase" />
      <xs:enumeration value="Service" />
      <xs:enumeration value="Project" />
      <xs:enumeration value="Production" />
      <xs:enumeration value="Collections" />
      <xs:enumeration value="Audit" />
      <xs:enumeration value="Web" />
      <xs:enumeration value="Risk" />
      <xs:enumeration value="Finance" />
      <xs:enumeration value="FleetManagement" />
      <xs:enumeration value="Maintenance" />
      <xs:enumeration value="GPSTrackingSolutions" />
      <xs:enumeration value="Legal" />
      <xs:enumeration value="Vendors" />
      <xs:enumeration value="Contract" />
      <xs:enumeration value="Procurement" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CaseCategoryType" nillable="true" type="tns:CaseCategoryType" />
  <xs:complexType name="MzkVehicleDetailsContract">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q8:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="parmChassisNumber" type="xs:int" />
          <xs:element minOccurs="0" name="parmColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmEngineNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmLisenceDiscCurrent" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmMake" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmODOReading" type="xs:decimal" />
          <xs:element minOccurs="0" name="parmRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmRegNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parmSparseKeyShown" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmSparseKeyTested" type="tns:NoYes" />
          <xs:element minOccurs="0" name="parmTableId" type="xs:int" />
          <xs:element minOccurs="0" name="parmVehicleInsRecID" type="xs:long" />
          <xs:element minOccurs="0" name="parmlisenceDiscExpiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="parmyear" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MzkVehicleDetailsContract" nillable="true" type="tns:MzkVehicleDetailsContract" />
  <xs:complexType name="ArrayOfMzkMobiPassengerGlassContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkMobiPassengerGlassContract" nillable="true" type="tns:MzkMobiPassengerGlassContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkMobiPassengerGlassContract" nillable="true" type="tns:ArrayOfMzkMobiPassengerGlassContract" />
  <xs:complexType name="ArrayOfMzkMobiPassengerTrimInteriorContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkMobiPassengerTrimInteriorContract" nillable="true" type="tns:MzkMobiPassengerTrimInteriorContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkMobiPassengerTrimInteriorContract" nillable="true" type="tns:ArrayOfMzkMobiPassengerTrimInteriorContract" />
  <xs:complexType name="ArrayOfMZKMobiPassengerTyreConditionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MZKMobiPassengerTyreConditionContract" nillable="true" type="tns:MZKMobiPassengerTyreConditionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMZKMobiPassengerTyreConditionContract" nillable="true" type="tns:ArrayOfMZKMobiPassengerTyreConditionContract" />
  <xs:complexType name="ArrayOfMzkVehicleDetailsContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkVehicleDetailsContract" nillable="true" type="tns:MzkVehicleDetailsContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkVehicleDetailsContract" nillable="true" type="tns:ArrayOfMzkVehicleDetailsContract" />
  <xs:complexType name="ArrayOfMzkTasksContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkTasksContract" nillable="true" type="tns:MzkTasksContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkTasksContract" nillable="true" type="tns:ArrayOfMzkTasksContract" />
  <xs:complexType name="ArrayOfMzkMobiPassengerBodyworkContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkMobiPassengerBodyworkContract" nillable="true" type="tns:MzkMobiPassengerBodyworkContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkMobiPassengerBodyworkContract" nillable="true" type="tns:ArrayOfMzkMobiPassengerBodyworkContract" />
  <xs:complexType name="ArrayOfMzkMobiPassengerAccessoriesContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkMobiPassengerAccessoriesContract" nillable="true" type="tns:MzkMobiPassengerAccessoriesContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkMobiPassengerAccessoriesContract" nillable="true" type="tns:ArrayOfMzkMobiPassengerAccessoriesContract" />
  <xs:complexType name="ArrayOfMzkMechanicalConditionContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MzkMechanicalConditionContract" nillable="true" type="tns:MzkMechanicalConditionContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMzkMechanicalConditionContract" nillable="true" type="tns:ArrayOfMzkMechanicalConditionContract" />
</xs:schema>