Eqstra.VehicleInspection.UILogic/Service References/VIService/xppservice1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd3" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Dynamics.Ax.Application" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://srfmlbispstg01.lfmd.co.za/MicrosoftDynamicsAXAif60/VehicleInspection/xppservice.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MzkVehicleInspectionServiceCreateGlassRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateGlassRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateGlassRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateGlassResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateGlassResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createGlass_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerTrimInteriorRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerTrimInteriorRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerTrimInteriorRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerTrimInteriorResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerTrimInteriorResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createPassengerTrimInterior_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerTyreConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerTyreConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerTyreConditionRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerTyreConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerTyreConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createPassengerTyreCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleDetailsRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleDetailsRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleDetailsResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createVehicleDetails_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleCollectionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleCollectionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleCollectionRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleCollectionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleCollectionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createVehicleCollection_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerBodyworkRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerBodyworkRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerBodyworkRequest_Headers">
    <wsdl:part xmlns:q11="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q11:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerBodyworkResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerBodyworkResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createPassengerBodywork_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q12:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest_Headers">
    <wsdl:part xmlns:q13="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q13:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createVehicleInspectionTable_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q14:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerAccessoriesRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerAccessoriesRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerAccessoriesRequest_Headers">
    <wsdl:part xmlns:q15="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q15:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreatePassengerAccessoriesResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreatePassengerAccessoriesResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createPassengerAccessories_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q16:AifFault" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateMechConditionRequest">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateMechConditionRequest" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateMechConditionRequest_Headers">
    <wsdl:part xmlns:q17="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q17:CallContext" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionServiceCreateMechConditionResponse">
    <wsdl:part name="parameters" element="tns:MzkVehicleInspectionServiceCreateMechConditionResponse" />
  </wsdl:message>
  <wsdl:message name="MzkVehicleInspectionService_createMechCondition_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q18:AifFault" />
  </wsdl:message>
  <wsdl:portType name="MzkVehicleInspectionService">
    <wsdl:operation name="createGlass">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createGlass" name="MzkVehicleInspectionServiceCreateGlassRequest" message="tns:MzkVehicleInspectionServiceCreateGlassRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createGlassResponse" name="MzkVehicleInspectionServiceCreateGlassResponse" message="tns:MzkVehicleInspectionServiceCreateGlassResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createGlassAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createGlass_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createPassengerTrimInterior">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerTrimInterior" name="MzkVehicleInspectionServiceCreatePassengerTrimInteriorRequest" message="tns:MzkVehicleInspectionServiceCreatePassengerTrimInteriorRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerTrimInteriorResponse" name="MzkVehicleInspectionServiceCreatePassengerTrimInteriorResponse" message="tns:MzkVehicleInspectionServiceCreatePassengerTrimInteriorResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerTrimInteriorAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createPassengerTrimInterior_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createPassengerTyreCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerTyreCondition" name="MzkVehicleInspectionServiceCreatePassengerTyreConditionRequest" message="tns:MzkVehicleInspectionServiceCreatePassengerTyreConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerTyreConditionResponse" name="MzkVehicleInspectionServiceCreatePassengerTyreConditionResponse" message="tns:MzkVehicleInspectionServiceCreatePassengerTyreConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerTyreConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createPassengerTyreCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVehicleDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleDetails" name="MzkVehicleInspectionServiceCreateVehicleDetailsRequest" message="tns:MzkVehicleInspectionServiceCreateVehicleDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleDetailsResponse" name="MzkVehicleInspectionServiceCreateVehicleDetailsResponse" message="tns:MzkVehicleInspectionServiceCreateVehicleDetailsResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleDetailsAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createVehicleDetails_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVehicleCollection">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleCollection" name="MzkVehicleInspectionServiceCreateVehicleCollectionRequest" message="tns:MzkVehicleInspectionServiceCreateVehicleCollectionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleCollectionResponse" name="MzkVehicleInspectionServiceCreateVehicleCollectionResponse" message="tns:MzkVehicleInspectionServiceCreateVehicleCollectionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleCollectionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createVehicleCollection_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createPassengerBodywork">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerBodywork" name="MzkVehicleInspectionServiceCreatePassengerBodyworkRequest" message="tns:MzkVehicleInspectionServiceCreatePassengerBodyworkRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerBodyworkResponse" name="MzkVehicleInspectionServiceCreatePassengerBodyworkResponse" message="tns:MzkVehicleInspectionServiceCreatePassengerBodyworkResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerBodyworkAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createPassengerBodywork_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createVehicleInspectionTable">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleInspectionTable" name="MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest" message="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleInspectionTableResponse" name="MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse" message="tns:MzkVehicleInspectionServiceCreateVehicleInspectionTableResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createVehicleInspectionTableAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createVehicleInspectionTable_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createPassengerAccessories">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerAccessories" name="MzkVehicleInspectionServiceCreatePassengerAccessoriesRequest" message="tns:MzkVehicleInspectionServiceCreatePassengerAccessoriesRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerAccessoriesResponse" name="MzkVehicleInspectionServiceCreatePassengerAccessoriesResponse" message="tns:MzkVehicleInspectionServiceCreatePassengerAccessoriesResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createPassengerAccessoriesAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createPassengerAccessories_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="createMechCondition">
      <wsdl:input wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createMechCondition" name="MzkVehicleInspectionServiceCreateMechConditionRequest" message="tns:MzkVehicleInspectionServiceCreateMechConditionRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createMechConditionResponse" name="MzkVehicleInspectionServiceCreateMechConditionResponse" message="tns:MzkVehicleInspectionServiceCreateMechConditionResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/MzkVehicleInspectionService/createMechConditionAifFaultFault" name="AifFaultFault" message="tns:MzkVehicleInspectionService_createMechCondition_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>